body {
    background-color: #f4f1f0;
    font-family: 'Fira Sans', sans-serif;
    color: #04334a;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 8em;
    font-weight: 900;
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 900;
    margin: 0;
}

a {
    color: #f4f1f0;
    text-decoration: none;
}

.section-container {
    width: 70%;
    position: relative;
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-title {
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    position: absolute;
    top: 50px;
    left: 30px;
    width: 50px;
}

/* Header Styling */

.welcome {
    z-index: 500;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

.background {
    background: transparent;
    z-index: -5;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
}

/* Navigation Styling */

ul {
    padding: 20px;
    width: 100%;
    margin: 0;
}

li {
    display: inline;
    padding: 0 10px;
    margin: 0;
}

.nav {
    background-color: #f4f1f0;
    width: 100%;
    padding: 0;
    position: relative;
    visibility: visible;
}

.nav a {
        color: #04334a;
}

.nav a:hover {
    color: #e23f3f;
}

.sticky {
    background-color: #f4f1f0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#title {
    float: right;
    padding: 0 50px 0 0;
    color: #04334a;
}

/* Portfolio Styling */

.button {
    display: inline-block;
    background-color: #e23f3f;
    border-radius:6px;
    color: #f4f1f0;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    box-shadow: 5px 5px 8px -4px rgba(0, 0, 0, 0.59);
}

.button:hover {
   cursor: pointer;
}

.button:active{
   border: none;
}

.portfolio {
    background-color: #75d0eb;
    padding-top: 65px;
}

/* Open Source Work Styling */

.open-source {
    background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #04334a;
}

#open-source {
    color: #e27373;
}

/* About Me Styling */

.about {
    background-color: #75d0eb;
}

#profile {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.38);
}

/* Contact Styling */

.contact {
    background-color: #dad9d7;
    padding-bottom: 50px;
}

form {
    margin: 0 auto;
    width: 600px;
    padding: 1em;
}

form div + div {
    margin-top: 15px;
}

input, textarea {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1em;
    color: #9e9d9c;
    width: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

button {
    background-color: #e23f3f;
    border-radius:6px;
    color: #f4f1f0;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 5px;
    box-shadow: 5px 5px 8px -4px rgba(0, 0, 0, 0.59);
}

legend {
    margin-bottom: 10px;
}

.social-text {
    text-align: center;
    margin-bottom: 20px;
}

.social-media {
    text-align: center;
}

i {
    color: #fff;
    margin: 5px;
}

i:hover {
    color: #04334a;
}

#center {
    text-align: center;
}

@media screen and (max-width: 320px) {
    .section-title {
        position: relative;
        padding: 20px 0;
    }
}
